:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --facebook: #4267b2;
  --twitter: #1da1f2;
  --instagram: #833ab4;
  --youtube: #ff0000;
  --max-width: 1100px;
  --Lato-font: 'Lato', sans-serif;
  --Staatliches-font: 'Staatliches', cursive;
}

.category {
  --news-color: #f99500;
  --gossip-color: #a66bbe;
  --intention-color: #009cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts:
font-family: 'Lato', sans-serif;
font-family: 'Staatliches', cursive; */

body {
  font-family: var(--Lato-font);
  line-height: 1.5;
  background-color: var(--light-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Staatliches-font);
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-news {
  background-color: var(--news-color);
}
.category-gossip {
  background-color: var(--gossip-color);
}
.category-intention {
  background-color: var(--intention-color);
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background-color: var(--light-color);
}
.btn-primary {
  background-color: var(--primary-color);
}
.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

.card {
  background-color: #fff;
  padding: 1rem;
}

/* backgrounds */
.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}

/* paddings */
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.l-heading {
  font-size: 3rem;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li:last-child {
  border: none;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

/* Inner page grid container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  gap: 1.5rem;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

/* Navigation */
#main-nav {
  background-color: #fff;
  /* position: sticky; */
  top: 0;
  /* z-index: 2; */
}

#main-nav .container {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

#main-nav .logo {
  width: 3rem;
}

#main-nav .logos span {
  color: var(--primary-color);
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 1rem;
  font-weight: bold;
}

#main-nav ul li a.current {
  background-color: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Social icons background */
#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}

#main-nav .social a:nth-child(1) i:hover {
  color: var(--facebook);
}
#main-nav .social a:nth-child(2) i:hover {
  color: var(--twitter);
}
#main-nav .social a:nth-child(3) i:hover {
  color: var(--instagram);
}
#main-nav .social a:nth-child(4) i:hover {
  color: var(--youtube);
}

/* Showcase */
#showcase {
  color: #fff;
  background-color: #333;
  padding: 2rem;
  position: relative;
}

#showcase::before {
  content: '';
  background: url('../img/articles/qatar.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#home-articles .articles-container > *:first-child {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  grid-column: 2 / span 2;
}

/* #home-articles .articles-container > *:first-child img,
#home-articles .articles-container > *:last-child img {
  width: 48%;
} */

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.5rem;
}

/* Footer */
#main-footer {
  background-color: var(--dark-color);
  color: #fff;
}

#main-footer .logo {
  width: 3rem;
}

#main-footer a {
  color: #fff;
}

#main-footer .logos span {
  color: var(--primary-color);
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  background-color: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}
